
.searchInput{
    width: 515px;
    height: 54px;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--colorPink2);
    font-size: 1.2em;
    background-color: var(--colorBg);
    padding-left: 2em;
}